#about.section.about
	.container
		.section-heading
			h2 ABOUT ME
			p I&apos;m all about coding
			hr
		.section-content
			p.
				Hi, my name is Vinnie. I am a senior at the University of Southern California studying Computer
					Engineering &amp; Computer Science.
			p.
				I am a total nerd, and I&rsquo;m not afraid to show it! I am one of the first
					1,000 Glass Explorers and I wear Glass everywhere!
					When I was a sophomore in high school, I started #[a(href="http://socaldevs.com/") SoCal Devs],
						an Android app development company. Since then, we have published five apps on the Google Play Store.
			p.
				Not a day goes by when I don&rsquo;t think about programming, and you might even say I am &ldquo;a bit&rdquo; obsessed with
					it. I got my start in programming through #[a(href="http://www.usfirst.org/") FIRST Robotics] and
					when I started programming as a freshman, I was fascinated by the prospect of being able to write a few lines
						of code and have a robot actually do something! Since then, I have taught myself Java, C++, C,
					Objective-C, Python, JavaScript, and HTML.
			p.
				This past summer I interned at #[a(href="https://facebook.com/") Facebook] in Dublin, Ireland on the Cluster Infrastructure team.
			p.
				In the past I have interned at #[a(href="https://redfin.com/") Redfin] in San Francisco on the Platforms team and at #[a(href="http://www.citrix.com/") Citrix] in
					Santa Barbara on the GoToMeeting Android team
			p.
				I am currently working on #[a(href="http://qca.st") QCast] at
					#[a(href='https://perihelion.io') Perihelion] where I am co-founder,
					lead iOS developer and Android developer.
