#contact.section.contact
    .section-heading
        h2 GET IN TOUCH
        p Contact me
        hr
    .section-content
        .container
            .row
                .col-md-4
                    .contact-info
                        ul.list-unstyled
                            li
                                i.fa.fa-map-marker.pull-left
                                h3 Address
                                p
                                    | 3131 S. McClintock
                                    br
                                    | Los Angeles, 90007
                            li
                                i.fa.fa-envelope.pull-left
                                h3 Phone
                                p +714 482 3742
                            li
                                i.fa.fa-user.pull-left
                                h3 Email
                                p
                                    a(href='mailto:vm@vinnie.io') vm@vinnie.io
                .col-md-8
                    .contact-form
                        .alert
                        form#contact-form(action='//formspree.io/vm+w@vinnie.io', role='form', novalidate='')
                            .row
                                .col-md-6
                                    .form-group
                                        label.sr-only(for='name') Name:
                                        input#name.form-control(type='text', name='name', placeholder='Name*', required='')
                                .col-md-6
                                    .form-group
                                        label.sr-only(for='email') Email:
                                        input#email.form-control(type='email', name='_replyto', placeholder='Email*', required='')
                            .form-group
                                label.sr-only(for='subject') Subject:
                                input#subject.form-control(type='text', name='_subject', placeholder='Subject')
                            .form-group
                                label.sr-only(for='message') Message:
                                textarea#message.form-control(name='message', placeholder='Message*', required='')
                            button#submit-button.btn.btn-primary.btn-lg(type='submit')
                                i.fa.loading-icon
                                span Send Message
                            input#msg-submitted(type='hidden', name='msg-submitted', value='true')