.navbar.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav')
                span.sr-only Menu
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='index.html')
                h1(style='margin-top: -5px') Vinnie Magro
        nav#main-nav.navbar-collapse.collapse(role='navigation')
            ul.nav.navbar-nav.navbar-right.nav-text-light
                li.active
                    a(href='#top') HOME
                li
                    a(href='#about') ABOUT ME
                li
                    a(href='#services') PHILOSOPHY
                li
                    a(href='#works') PORTFOLIO
                li
                    a(href='#contact') CONTACT ME