#services.section.darker.services
    .container
        .section-heading
            h2 MY PHILOSOPHY
            p This is how I work
            hr
        .section-content
            .row
                .col-md-6
                    .service-item
                        span.icon-checkmark2.service-icon
                        .service-text
                            h3 Attention to Detail
                            p
                                | I&apos;m a bit of a perfectionist, I won&apos;t rest until something is absolutely perfect. I love
                                | what I do and I want to be able to say that I am proud of all of my work.
                .col-md-6
                    .service-item
                        span.icon-pen.service-icon
                        .service-text
                            h3 Pixel Perfect
                            p
                                | I work closely with designers on a regular basis to make gorgeous user interfaces and
                                | experiences in my projects. I love working on beautiful products and I know that users
                                | will enjoy using them.
                .col-md-6
                    .service-item
                        span.icon-lab.service-icon
                        .service-text
                            h3 Innovation
                            p
                                | I love doing new and exciting things and spend most of my time hacking on various side
                                | projects.
                .col-md-6
                    .service-item
                        span.icon-phone.service-icon
                        .service-text
                            h3 Mobile
                            p
                                | I believe that mobile and wearable computing is changing the world faster than we have
                                | ever seen before and I am excited to take part in shaping the future!