#works.section.works
    .section-heading
        h2 PORTFOLIO
        p Some cool stuff that I hack on in my spare time
        hr
    .section-content
        ul.list-inline.work-item-filters
            li
                a.active(href='#', data-filter='*') ALL
            li
                a(href='#', data-filter='.live') LIVE PRODUCTS
            li
                a(href='#', data-filter='.hackathons') HACKATHONS
            li
                a(href='#', data-filter='.school') SCHOOL RELATED
        .work-item-wrapper
            ul.work-item-list.list-col-4
                li.work-item.live.hackathons
                    img(src='assets/img/portfolio/qcast.jpg', alt='QCast')
                    .image-overlay
                        a(href='http://qca.st', title='QCast')
                            .work-item-info
                                h3 QCast
                                p The Party Playlist for Chromecast
                                i.fa.fa-search-plus
                li.work-item.live.hackathons.school
                    img(src='assets/img/portfolio/photorun.jpg', alt='PhotoRun')
                    .image-overlay
                        a.mfp-iframe.media-popup(href='https://www.youtube.com/watch?v=ciICTLN2Xe0', title='PhotoRun')
                            .work-item-info
                                h3 PhotoRun
                                p Photo exploration game at USC
                                i.fa.fa-search-plus
                li.work-item.hackathons
                    img(src='assets/img/portfolio/eyebeacon.jpg', alt='eyeBeacon')
                    .image-overlay
                        a.mfp-iframe.media-popup(href='https://www.youtube.com/watch?v=BLHIGsmp1DE', title='eyeBeacon')
                            .work-item-info
                                h3 eyeBeacon
                                p Hyperlocal contextual information on Google Glass powered by iBeacons
                                i.fa.fa-search-plus
                li.work-item.hackathons
                    img(src='assets/img/portfolio/dashcast.jpg', alt='DashCast')
                    .image-overlay
                        a(href='http://challengepost.com/software/dashcast', title='DashCast')
                            .work-item-info
                                h3 DashCast
                                p Contextual personal dashboard for your home
                                i.fa.fa-search-plus
                li.work-item.hackathons
                    img(src='assets/img/portfolio/fitfactor.jpg', alt='FitFactor')
                    .image-overlay
                        a(href='http://challengepost.com/software/fitfactor', title='FitFactor')
                            .work-item-info
                                h3 FitFactor
                                p Building healthy habits through your everyday computing
                                i.fa.fa-search-plus
                li.work-item.hackathons
                    img(src='assets/img/portfolio/noteezee.jpg', alt='NoteEzee')
                    .image-overlay
                        a(href='http://challengepost.com/software/note-e-zee', title='NoteEzee')
                            .work-item-info
                                h3 NoteEzee
                                p A better way to take notes #throughglass
                                i.fa.fa-search-plus
                li.work-item.school
                    img(src='assets/img/portfolio/3309.jpg', alt='FRC')
                    .image-overlay
                        a(href='https://github.com/vmagro/frc2014', title='FRC')
                            .work-item-info
                                h3 FRC Team 3309
                                p Code for Gateway
                                i.fa.fa-search-plus
                li.work-item.school
                    img(src='assets/img/portfolio/auv.jpg', alt='AUV')
                    .image-overlay
                        a(href='https://github.com/uscauv', title='AUV')
                            .work-item-info
                                h3 USC AUV
                                p Autonomous Underwater Vehicle
                                i.fa.fa-search-plus