#skills.section.skills
    .container
        .row
            .col-md-3.text-center
                .chart(data-percent='95')
                    span.percent 95%
                span.skill-name Android
            .col-md-3.text-center
                .chart(data-percent='92')
                    span.percent 92%
                span.skill-name Java
            .col-md-3.text-center
                .chart(data-percent='80')
                    span.percent 80%
                span.skill-name Node.js
            .col-md-3.text-center
                .chart(data-percent='75')
                    span.percent 75%
                span.skill-name iOS