#social-network.section.full-width-parallax.parallax
    .container
        h2 Find me elsewhere on the web
        ul.list-inline.social-icon
            li.wow.rollIn(data-wow-delay='0.3s')
                a(href='https://www.facebook.com/vinnie.magro', data-toggle='tooltip', data-placement='bottom', title='Facebook')
                    i.fa.fa-facebook
            li.wow.rollIn(data-wow-delay='0.3s')
                a(href='https://github.com/vmagro', data-toggle='tooltip', data-placement='bottom', title='GitHub')
                    i.fa.fa-github
            li.wow.rollIn(data-wow-delay='0.3s')
                a(href='https://www.linkedin.com/in/vmagro', data-toggle='tooltip', data-placement='bottom', title='LinkedIn')
                    i.fa.fa-linkedin
            li.wow.rollIn(data-wow-delay='0.3s')
                a(href='mailto:vm@vinnie.io', data-toggle='tooltip', data-placement='bottom', title='Email')
                    i.fa.fa-envelope-o